* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  box-sizing: border-box;
}

.header,
.form__container {
  margin: 0 auto;
  width: 80%;
}

.header {
  margin: 20px auto;
}

.form__container {
  border: 2px solid #000;
  padding: 15px;
}

.input-field {
  border: 2px solid #000;
  margin: 10px 10px 10px 0;
  height: 50px;
  width: 200px;
  font-size: 22px;
  padding: 5px;
  outline: none;
}

.input-field:focus {
  background-color: navajowhite;
  border: 2px solid #e26d17;
}

.submit-btn {
  width: 200px;
  padding: 10px;
  border: 2px solid #000;
  margin-top: 10px;
  font-size: 18px;
  outline: none;
}

.submit-btn:hover,
.submit-btn:active,
.submit-btn:focus {
  background-color: navajowhite;
  border: 2px solid #e26d17;

}